version: '3.8'

services:
  postgres:
    image: postgres:15
    environment:
      POSTGRES_DB: uberdb
      POSTGRES_USER: paras
      POSTGRES_PASSWORD: pass123
    ports:
      - "5436:5432"
    volumes:
      - postgres_data:/var/lib/postgresql/data

  server:
    build: ./server
    ports:
      - "8000:8000"
    environment:
      DATABASE_URL: postgresql://paras:pass123@postgres:5432/uberdb
    depends_on:
      - postgres
    volumes:
      - /var/run/docker.sock:/var/run/docker.sock
      - ./ride-interface:/ride-interface
      - ./server:/app

  client:
    build: ./client
    ports:
      - "5173:5173"
    depends_on:
      - server

volumes:
  postgres_data: